<div class="card">
  <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <div class="surface-section py-2 md-3">
      <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
          <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY BASE</a></li>
          <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
          <li><a class="text-500 no-underline line-height-3 cursor-pointer">Cadastros Gerais</a></li>
          <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
          <li><a class="text-500 no-underline line-height-3 cursor-pointer">Voluntários</a></li>
          <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
          @if (registerForm.get('idvoluntario')?.invalid) {
            <li><span class="text-900 line-height-3">Alterar </span></li>
            <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
            <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você Altera os voluntarios do sistema!</a></li>
          } @else {
            <li><span class="text-900 line-height-3">Novo</span></li>
            <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
            <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você cadastra os voluntarios do sistema!</a></li>
          }
      </ul>
      <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
          @if (registerForm.get('idvoluntario')?.invalid) {
            <div class="font-medium text-3xl text-900">Alterar Voluntário</div><br/><br/>
          } @else {
            <div class="font-medium text-3xl text-900">Novo Voluntário</div><br/><br/>
          }
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple label="Voltar" class="p-button mr-2" icon="pi pi-chevron-left" routerLink="/volunteer"></button>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="!showPj" class="field">
        <label  for="cpf_voluntario">CPF Voluntário</label>
        <input type="text" pInputText  formControlName="cpf_voluntario" class="w-full" name="cpf_voluntario" placeholder="Digite o CPF do voluntário"/>
        <small *ngIf="registerForm.get('cpf_voluntario')?.invalid && (registerForm.get('cpf_voluntario')?.dirty || registerForm.get('cpf_voluntario')?.touched)" class="block p-error">
          <div *ngIf="registerForm.get('cpf_voluntario')?.errors?.['required']">O CPF do voluntário é uma informação obrigatória.</div>
        </small>
      </div>
      <div *ngIf="showPj" class="field">
        <label for="cnpj_coluntario">CNPJ Voluntário</label>
        <input type="text" pInputText formControlName="cnpj_voluntario" class="w-full" name="cnpj_coluntario" placeholder="Digite o CNPJ do coluntário"/>
        <small *ngIf="registerForm.get('cnpj_coluntario')?.invalid && (registerForm.get('cnpj_coluntario')?.dirty || registerForm.get('cnpj_coluntario')?.touched)" class="block p-error">
          <div *ngIf="registerForm.get('cnpj_coluntario')?.errors?.['required']">O CNPJ do coluntário é uma informação obrigatória.</div>
        </small>
      </div>
      <div  class="field checkbox-field">
        <label for="pf_pj_voluntario">
        <p-checkbox formControlName="pf_pj_voluntario" value="Pessoa Fisica"
                      (click)="updateState()" inputId="pj"></p-checkbox>
        Pessoa Fisica
        </label>
      </div>
      <div class="field">
        <label for="nome_voluntario">Nome Completo</label>
        <input type="text" pInputText formControlName="nome_voluntario" class="w-full" name="fullName" placeholder="Digite seu nome"/>
        <small *ngIf="registerForm.get('nome_voluntario')?.invalid && (registerForm.get('nome_voluntario')?.dirty || registerForm.get('nome_voluntario')?.touched)" class="block p-error">
          <div *ngIf="registerForm.get('nome_voluntario')?.errors?.['required']">O nome é uma informação obrigatória.</div>
          <div *ngIf="registerForm.get('nome_voluntario')?.errors?.['pattern']">O nome não deve conter caracteres especiais</div>
        </small>
      </div>
      <div class="field">
        <label for="email_voluntario">Email</label>
        <input type="text" pInputText formControlName="email_voluntario" class="w-full" name="email" placeholder="Digite seu email" />
        <small *ngIf="registerForm.get('email_voluntario')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="block p-error">
          <div *ngIf="registerForm.get('email_voluntario')?.errors?.['required']">O email é uma informação obrigatória.</div>
          <div *ngIf="registerForm.get('email_voluntario')?.errors?.['email']">Email invalido</div>
        </small>
      </div>
      <div class="field">
        <label for="cargo_voluntario">Cargo Voluntário</label>
        <input type="text" pInputText  formControlName="cargo_voluntario" class="w-full" name="cargo_voluntario" placeholder="Digite o cargo do voluntário"/>
        <small *ngIf="registerForm.get('cargo_voluntario')?.invalid && (registerForm.get('cargo_voluntario')?.dirty || registerForm.get('cargo_voluntario')?.touched)" class="block p-error">
          <div *ngIf="registerForm.get('cargo_voluntario')?.errors?.['required']">O cargo do voluntário é uma informação obrigatória.</div>
        </small>
      </div>
      <div class="field">
        <label for="descricao_atividades_voluntario">Descrição das atividades de voluntariado</label>
        <textarea pInputTextarea formControlName="descricao_atividades_voluntario" class="w-full" name="descricao_atividades_voluntario" placeholder="Digite a descrição das atividades do voluntário"></textarea>
      </div>
    </div>
    <p-button label="SALVAR" styleClass="w-full"  type="submit"></p-button>
  </form>
</div>
