<div class="card">
  <div class="surface-section py-2 md-3">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY BRIDGE</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Adoções</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você encontra animais em busca de um lar!</a></li>
    </ul>
    <div class="flex align-items-center flex-column lg:flex-row">
      <div class="font-semibold text-2ml text-900">Promovemos encontros para unir pessoas a pets que estão em busca de um lar.
        Acreditamos que, ao doarmos tempo para cuidar de outro ser, criamos conexões mais fortes.
        Temos aqui muitos animais à espera de uma família, por isso esperamos que você encontre o companheiro ideal.
      </div><br/><br/><br/>
    </div>
  </div>
  <app-adoption-grid [animals]="animals" (add)="onAdd()"></app-adoption-grid>
</div>
