<div class="card">
  <form [formGroup]="adoptionForm" (ngSubmit)="submitDetails()">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY ANIMAIS</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Perfis de adoção</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      @if (id_perfil_adocao?.value == null || id_perfil_adocao?.value == 'NaN') {
        <li><span class="text-900 line-height-3">Alterar</span></li>
      } @else {
        <li><span class="text-900 line-height-3">Novo</span></li>
      }
      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
        <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você gerencia os perfis de adoção!</a></li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        @if (id_perfil_adocao?.value == null || id_perfil_adocao?.value == 'NaN') {
          <div class="font-medium text-3xl text-900">Alterar Perfil de Adoção</div><br/><br/>
        } @else {
          <div class="font-medium text-3xl text-900">Novo Perfil de Adoção</div><br/><br/>
        }
      </div>
      <div class="mt-3 lg:mt-0">
        <button pButton pRipple label="Voltar" class="p-button mr-2" icon="pi pi-chevron-left" routerLink="/perfil-adocao"></button>
      </div>
    </div>
    <p-messages></p-messages>
    <div class="p-fluid p-formgrid grid">
      <div class="field col-9 md:col-9">
        <label for="classificacao">Animal: *</label>
        <p-dropdown [options]="animals" [(ngModel)]="selectAnimal" optionLabel="nome_animal" formControlName="id_animal" name="id_animal" placeholder="Selecione uma animal"></p-dropdown>
        <small
          *ngIf="adoptionForm.get('id_animal')?.invalid && (adoptionForm.get('id_animal')?.dirty || adoptionForm.get('id_animal')?.touched)"
          class="block p-error">
          <div *ngIf="adoptionForm.get('id_animal')?.errors?.['required']">O animal é uma informação obrigatória.</div>
        </small>
      </div>
      <div class="field col-3 md:col-3">
        <label for="priority">Prioridade *</label>
        <input type="number" pInputText formControlName="priority" class="w-full" name="priority"
               placeholder="Digite a prioridade" min="1" max="10"/>
        <small
          *ngIf="adoptionForm.get('priority')?.invalid && (adoptionForm.get('priority')?.dirty || adoptionForm.get('priority')?.touched)"
          class="block p-error">
          <div *ngIf="adoptionForm.get('priority')?.errors?.['required']">A prioridade é uma informação obrigatória.
          </div>
          <div *ngIf="adoptionForm.get('priority')?.errors?.['min']">A prioridade deve ser no mínimo 1.</div>
          <div *ngIf="adoptionForm.get('priority')?.errors?.['max']">A prioridade deve ser no máximo 10.</div>
        </small>
      </div>
    </div>
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-12">
        <label for="medical_necessities">Necessidades Médicas</label>
        <textarea rows="5" pInputTextarea formControlName="medical_necessities" class="w-full"
                  name="medical_necessities"
                  placeholder="Descreva as necessidades médicas do animal"></textarea>
      </div>
    </div>
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-12">
        <label for="image">Imagem do Animal:</label><br/>
        <!-- Button to trigger file input -->
        <button id="file-chooser" class="file-button" type="button" (click)="fileInput.click()">Clique para selecionar um Arquivo</button>
        <!-- Hidden file input field -->
        <input #fileInput style="display: none" (change)="onFileInput($event)" type="file" accept="image/jpeg,image/png,image/webp,image/bmp">
        <!-- Image preview -->
        <div *ngIf="imagePreview" class="image-preview">
          <img [src]="imagePreview" alt="Preview da Imagem do Animal" style="max-width: 200px; margin-top: 10px;"/>
        </div>
      </div>
    </div>

    <button pButton label="SALVAR" styleClass="w-full" type="submit"></button>
  </form>
</div>
