<div class="card">
  <p-table #dt1 [value]="gruposacesso" selectionMode="single" [(selection)]="_specificEntity" dataKey="idGrupoAcesso" [tableStyle]="{'min-width': '50rem'}" [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session-grupoacesso">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idGrupoAcesso" style="width:10%">Cod. <p-sortIcon field="idGrupoAcesso"></p-sortIcon></th>
        <th pSortableColumn="descricaoGrupoAcesso" style="width:60%">Descrição <p-sortIcon field="descricaoGrupoAcesso"></p-sortIcon></th>
        <th pSortableColumn="ativoGrupoACesso" style="width:20%">Ativo? <p-sortIcon field="ativoGrupoACesso"></p-sortIcon></th>
        <th pSortableColumn="Ações" style="width:10%">Ações</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'idGrupoAcesso', 'contains')" [value]="$any(dt1.filters['idGrupoAcesso'])?.value" placeholder="Cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'descricaoGrupoAcesso', 'contains')" [value]="$any(dt1.filters['descricaoGrupoAcesso'])?.value" placeholder="Filtrar a descrição" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'ativoGrupoAcesso', 'contains')" [value]="$any(dt1.filters['ativoGrupoAcesso'])?.value" placeholder="Ativo?" class="w-full">
        </th>
        <th>
          <p-button label="Novo" icon="pi pi-plus" (click)="onAdd()" ></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-grupoacesso>
      <tr [pSelectableRow]="gruposacesso">
        <td>
          <span class="p-column-title">Cod.</span>
          {{grupoacesso.idGrupoAcesso}}
        </td>
        <td>
          <span class="p-column-title">Descrição</span>
          {{grupoacesso.descricaoGrupoAcesso}}
        </td>
        <td>
          <span class="p-column-title">Ativo?</span>
          <span class="ml-1 vertical-align-middle">{{grupoacesso.ativoGrupoAcesso ? 'Sim' : 'Não'}}</span>
        </td>
        <td>
          <div>
            <button pButton pRipple label="Alterar " (click)='onEdit(grupoacesso.idGrupoAcesso)' class="p-button mr-2" icon="pi pi-pencil" style="margin: 2px 0;"></button>
            <button pButton pRipple label="Excluir" (click)='showDeleteDialog(grupoacesso)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Confirmar Exclusão" [(visible)]="displayDeleteDialog" modal="modal" [closable]="false"
            [dismissableMask]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <p class="m-0">Tem certeza de que deseja excluir este grupo de acesso?</p>
    <ng-template pTemplate="footer">
        <button pButton label="Cancelar" icon="pi pi-times" (click)="onCancelDelete()"></button>
        <button pButton severity="danger" label="Confirmar" icon="pi pi-check" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>
