<div class="card">
  <p-table #dt1 [value]="volunteers" selectionMode="single" [(selection)]="_specificVolunteer" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idcolaborador" style="width:10%">Cod. <p-sortIcon field="idcolaborador"></p-sortIcon></th>
        <th pSortableColumn="nome_colaborador" style="width:20%">Nome <p-sortIcon field="nome_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cpf_colaborador" style="width:20%">CPF <p-sortIcon field="cpf_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cnpj_colaborador" style="width:20%">CNPJ <p-sortIcon field="cnpj_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cargo_colaborador" style="width:20%">Tipo <p-sortIcon field="cargo_colaborador"></p-sortIcon></th>
        <th pSortableColumn="Ações" style="width:15%">Ações</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'idcolaborador', 'contains')" [value]="$any(dt1.filters['idcolaborador'])?.value" placeholder="Filtrar Cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nome_colaborador', 'contains')" [value]="$any(dt1.filters['nome_colaborador'])?.value" placeholder="Filtrar Nome" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'cpf_colaborador', 'contains')" [value]="$any(dt1.filters['cpf_colaborador'])?.value" placeholder="Filtrar CPF" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'cnpj_colaborador', 'contains')" [value]="$any(dt1.filters['cnpj_colaborador'])?.value" placeholder="Filtrar CNPJ" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'cargo_colaborador', 'contains')" [value]="$any(dt1.filters['cargo_colaborador'])?.value" placeholder="Filtrar cargo" class="w-full">
        </th>
        <th>
          <p-button label="Novo" icon="pi pi-plus" (click)="onAdd()" ></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-volunteer>
      <tr [pSelectableRow]="volunteer">
        <td>
          <span class="p-column-title">Cod.</span>
          {{volunteer.idcolaborador}}
        </td>
        <td>
          <span class="p-column-title">Nome</span>
          {{volunteer.nome_colaborador}}
        </td>
        <td>
          <span class="p-column-title">CPF</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.cpf_colaborador}}</span>
        </td>
        <td>
          <span class="p-column-title">CNPJ</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.cnpj_colaborador}}</span>
        </td>
        <td>
          <span class="p-column-title">Cargo</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.cargo_colaborador}}</span>
        </td>
        <td>
          <div>
            <button pButton pRipple label="Alterar " (click)='onEdit(volunteer.idcolaborador)' class="p-button mr-2" icon="pi pi-pencil" style="margin: 2px 0;"></button>
            <button pButton pRipple label="Excluir" (click)='onDelete(volunteer.idcolaborador)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
