<div class="card">
  <div class="button-group" style="display: flex; justify-content: flex-end; gap: 10px; margin-bottom: 10px; align-items: center;">
    <span style="font-weight: bold; margin-right: auto;">
        Selecione um item na grid abaixo para poder alterá-lo ou excluí-lo.
    </span>
    <button pButton pRipple label="Novo" (click)='onAdd()' class="p-button p-button" icon="pi pi-plus"></button>
    <button pButton pRipple label="Alterar" (click)='onEdit(_specificEntity?.idcolaborador)' class="p-button p-button" icon="pi pi-pencil" [disabled]='!_specificEntity?.idcolaborador'></button>
    <button pButton pRipple label="Inativar" (click)='showDeleteDialog(_specificEntity)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"  [disabled]='!_specificEntity?.idcolaborador'></button>
  </div>
  <p-table #dt1 [value]="colaboradores" selectionMode="single" [(selection)]="_specificEntity" dataKey="idcolaborador" [tableStyle]="{'min-width': '50rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session-volunteer">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idcolaborador" style="width:10%">Cod. <p-sortIcon field="idcolaborador"></p-sortIcon></th>
        <th pSortableColumn="nome_colaborador" style="width:20%">Nome <p-sortIcon field="nome_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cpf_colaborador" style="width:20%">CPF <p-sortIcon field="cpf_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cnpj_colaborador" style="width:20%">CNPJ <p-sortIcon field="cnpj_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cargo_colaborador" style="width:10%">Tipo <p-sortIcon field="cargo_colaborador"></p-sortIcon></th>
        <th pSortableColumn="cargo_colaborador" style="width:10%">Ativo? <p-sortIcon field="cargo_colaborador"></p-sortIcon></th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'idcolaborador', 'contains')" [value]="$any(dt1.filters['idcolaborador'])?.value" placeholder="Filtrar Cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nome_colaborador', 'contains')" [value]="$any(dt1.filters['nome_colaborador'])?.value" placeholder="Filtrar Nome" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'cpf_colaborador', 'contains')" [value]="$any(dt1.filters['cpf_colaborador'])?.value" placeholder="Filtrar CPF" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'cnpj_colaborador', 'contains')" [value]="$any(dt1.filters['cnpj_colaborador'])?.value" placeholder="Filtrar CNPJ" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'cargo_colaborador', 'contains')" [value]="$any(dt1.filters['cargo_colaborador'])?.value" placeholder="Filtrar cargo" class="w-full">
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-volunteer>
      <tr [pSelectableRow]="volunteer">
        <td>
          <span class="p-column-title">Cod.</span>
          {{volunteer.idcolaborador}}
        </td>
        <td>
          <span class="p-column-title">Nome</span>
          {{volunteer.usuarioColaborador?.nome}}
        </td>
        <td>
          <span class="p-column-title">CPF</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.cpf_colaborador}}</span>
        </td>
        <td>
          <span class="p-column-title">CNPJ</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.cnpj_colaborador}}</span>
        </td>
        <td>
          <span class="p-column-title">Cargo</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.cargo_colaborador}}</span>
        </td>
        <td>
          <span class="p-column-title">Ativo?</span>
          <span class="ml-1 vertical-align-middle">{{volunteer.usuarioColaborador?.confirmacaoEmail ? "Não" : "Sim"}} [{{volunteer.usuarioColaborador?.token}}]</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Confirmar Exclusão" [(visible)]="displayDeleteDialog" modal="modal" [closable]="false"
            [dismissableMask]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <p class="m-0">Tem certeza de que deseja inativar esta conta?</p>
    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" (click)="onCancelDelete()"></button>
      <button pButton severity="danger" label="Confirmar" icon="pi pi-check" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>
