<div class="card">
  <div class="surface-section py-2 md-3">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY BASE</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Cadastros Gerais</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><span class="text-900 line-height-3">Movimentações</span></li>
      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você gerencia as movimentações do sistema!</a></li>
      <button pButton pRipple label="Solicitar acesso" class="p-button-sm p-button-text p-button-secondary" icon="pi pi-lock-open" (click)="openModal()"></button>
    </ul>
    <div class="flex align-items-start flex-column lg:flex-row">
      <div class="font-medium text-3xl text-900">Movimentações</div><br/><br/><br/>
    </div>
  </div>
  <app-movimento-list [movimentacoes]="movimentacoes" (add)="onAdd()" (edit)="onEdit($event)" (remove)="onRemove($event)">
  </app-movimento-list>
</div>

<p-dialog header="Solicitar Acesso" [(visible)]="displayModal" [modal]="true" [style]="{width: '400px'}">
  <p-messages></p-messages>
  <div *ngIf="acessos && acessos.length > 0; else noAcessos">
      <ul>
          <li *ngFor="let acesso of acessos" style="display: flex; align-items: center; margin-bottom: 0.5rem;">
              <span style="flex-grow: 1;">• {{ acesso.descricaoAcesso }}</span>
              <button pButton pRipple label="Solicitar" class="p-button-sm p-button-success ml-2" (click)="solicitarAcesso(acesso)"></button>
          </li>
      </ul>
  </div>
  <ng-template #noAcessos>
      <p>Não há acessos disponíveis para esta tela.</p>
  </ng-template>
</p-dialog>
