<form [formGroup]="registerForm">
  <div class="p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap" style="color: black; background: linear-gradient(0deg, rgba(0, 10, 100, 0.2), rgba(40, 2, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #3b82f6 0%, #C3E3FA 100%);">
    <div class="flex align-items-left flex-wrap">
      <div class="flex align-items-left mt-3">
        <div class="flex align-items-center mt-3">
          <i class="pi pi-envelope mr-2"></i>
          <span style="margin-bottom: 3px;">{{ registerForm.get('emailContatoOng')?.value }}</span>
        </div>&nbsp;&nbsp;
        <div class="flex align-items-center mt-3">
          <i class="pi pi-phone mr-2"></i>
          <span style="margin-bottom: 3px;">{{ registerForm.get('telefoneOng')?.value }}</span>
        </div>&nbsp;&nbsp;
        <div class="flex align-items-center mt-3">
          <i class="pi pi-whatsapp mr-2"></i>
          <span style="margin-bottom: 3px;">{{ registerForm.get('whatsappOng')?.value }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-8 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Um amigo para a vida toda espera por você!</span>
            <div class="text-6xl text-primary font-bold mb-3">Saiba mais sobre a {{ registerForm.get('razaoSocialOng')?.value }}</div>
            <p class="mt-0 mb-4 text-700 line-height-3">{{ registerForm.get('historiaOng')?.value }}</p>
            <button pButton pRipple label="Entre em contato" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Conheça nossa história" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-4 overflow-hidden">
        <img src="../../../assets/img/pata.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>
  <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" style="background: linear-gradient(0deg, rgba(0, 10, 100, 0.2), rgba(40, 2, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #3b82f6 0%, #C3E3FA 100%);">
      <div class="mx-4 md:mx-8 mt-0 md:mt-4">
          <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block"></span>Nossa missão </h1>
          <hr>
      </div>
      <br/>
      <br/>
  </div>
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-4 overflow-hidden">
      <img src="../../../assets/img/blue_dog.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    <div class="col-12 md:col-8 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Ajudando a salvar vidas!</span>
            <div class="text-6xl text-primary font-bold mb-3">No resgate e na proteção animal</div>
            <p class="mt-0 mb-4 text-700 line-height-3">{{ registerForm.get('missaoOng')?.value }}</p>
        </section>
    </div>
  </div>
  <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" style="background: linear-gradient(0deg, rgba(0, 10, 100, 0.2), rgba(40, 2, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #3b82f6 0%, #C3E3FA 100%);">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block"></span>Nossa Visão </h1>
        <hr>
    </div>
    <br/>
    <br/>
  </div>
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-8 p-6 text-center md:text-left flex align-items-center ">
        <section>
          <span class="block text-6xl font-bold mb-1">Nos ajude a transformar vidas!</span>
            <div class="text-6xl text-primary font-bold mb-3">Molhorando o mundo a cada dia</div>
            <p class="mt-0 mb-4 text-700 line-height-3">{{ registerForm.get('visaoOng')?.value }}</p>
        </section>
    </div>
    <div class="col-12 md:col-4 overflow-hidden">
      <img src="../../../assets/img/cat-dog-azul.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>
  <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" style="background: linear-gradient(0deg, rgba(0, 10, 100, 0.2), rgba(40, 2, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #3b82f6 0%, #C3E3FA 100%);">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block"></span>Nossos Valores </h1>
        <hr>
    </div>
    <br/>
    <br/>
  </div>
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-4 overflow-hidden">
      <img src="../../../assets/img/coracao-azul.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    <div class="col-12 md:col-8 p-6 text-center md:text-left flex align-items-center ">
        <section>
          <span class="block text-6xl font-bold mb-1">A {{ registerForm.get('razaoSocialOng')?.value }} acredita que</span>
            <div class="text-6xl text-primary font-bold mb-3">Toda ajuda conta e faz muita diferença</div>
            <p class="mt-0 mb-4 text-700 line-height-3">{{ registerForm.get('valoresOng')?.value }}</p>
        </section>
    </div>
  </div>
  <hr>
  <div class="py-4 px-4 mx-0 mt-2 lg:mx-8">
    <div class="grid justify-content-between">
        <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
            <a  class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                <img src="../../../assets/img/default-logo.png" alt="footer sections" height="50" class="mr-2">
            </a>
        </div>
        <div class="col-12 md:col-10 lg:col-7">
            <div class="grid text-center md:text-left">
                <div class="col-12 md:col-4">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">{{ registerForm.get('razaoSocialOng')?.value }}</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">{{ registerForm.get('logradouroEndereco')?.value }}, {{ registerForm.get('numeroEndereco')?.value }}</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">{{ registerForm.get('bairroEndereco')?.value }}</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">{{ registerForm.get('cidadeEndereco')?.value }} / {{ registerForm.get('estadoEndereco')?.value }}</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">CEP: {{ registerForm.get('cepEndereco')?.value }}</a>
                </div>
                <div class="col-12 md:col-4 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Contato</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Email: {{ registerForm.get('emailContatoOng')?.value }}</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Financeiro: {{ registerForm.get('emailFinanceiroOng')?.value }}</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">Telefone: {{ registerForm.get('telefoneOng')?.value }}</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">WhatsApp: {{ registerForm.get('whatsappOng')?.value }}</a>
                </div>
                <div class="col-12 md:col-4 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Redes Sociais</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" href="{{ registerForm.get('instagramOng')?.value }}">Instagram</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" href="{{ registerForm.get('facebookOng')?.value }}">Facebook</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" href="{{ registerForm.get('twitterOng')?.value }}">Twitter</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700" href="{{ registerForm.get('linkedinOng')?.value }}">Linkedin</a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
