<div class="card">
  <div class="button-group" style="display: flex; justify-content: flex-end; gap: 10px; margin-bottom: 10px; align-items: center;">
    <span style="font-weight: bold; margin-right: auto;">
        Selecione um item na grid abaixo para poder alterá-lo ou excluí-lo.
    </span>
    <button pButton pRipple label="Novo" (click)='onAdd()' class="p-button p-button" icon="pi pi-plus"></button>
    <button pButton pRipple label="Alterar" (click)='onEdit(_specificEntity?.idPagamento)' class="p-button p-button" icon="pi pi-pencil" [disabled]='!_specificEntity?.idPagamento'></button>
    <button pButton pRipple label="Excluir" (click)='showDeleteDialog(_specificEntity)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;" [disabled]='!_specificEntity?.idPagamento'></button>
  </div>

  <p-table #dt1 [value]="pagamentos" selectionMode="single" [(selection)]="_specificEntity" dataKey="idPagamento" [tableStyle]="{'min-width': '60rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session-pagamento">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idPagamento" style="width:10%">Cod. <p-sortIcon field="idPagamento"></p-sortIcon></th>
        <th pSortableColumn="movimentacao" style="width:20%">Movimentação <p-sortIcon field="movimentacao"></p-sortIcon></th>
        <th pSortableColumn="dataRecebimento" style="width:10%">Data Recebimento <p-sortIcon field="dataRecebimento"></p-sortIcon></th>
        <th pSortableColumn="contaCaixa" style="width:15%">Conta Caixa <p-sortIcon field="contaCaixa"></p-sortIcon></th>
        <th pSortableColumn="valorPagamento" style="width:10%">Valor Pagamento <p-sortIcon field="valorPagamento"></p-sortIcon></th>
        <th pSortableColumn="valorTotalMovimentacao" style="width:10%">Valor Total <p-sortIcon field="valorTotalMovimentacao"></p-sortIcon></th>
        <th pSortableColumn="valorPendente" style="width:10%">Movimentação de Caixa <p-sortIcon field="valorPendente"></p-sortIcon></th>
        <th pSortableColumn="observacoes" style="width:15%">Observações <p-sortIcon field="observacoes"></p-sortIcon></th>
      </tr>
      <tr>
        <!-- Input filters for each column -->
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'idPagamento', 'contains')" placeholder="Filtrar Cod." class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'movimentacao', 'contains')" placeholder="Filtrar Movimentação" class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'dataRecebimento', 'contains')" placeholder="Filtrar Data" class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'contaCaixa', 'contains')" placeholder="Filtrar Conta" class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'valorPagamento', 'contains')" placeholder="Filtrar Valor" class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'valorTotalMovimentacao', 'contains')" placeholder="Filtrar Valor Total" class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'valorPendente', 'contains')" placeholder="Filtrar Valor Pendente" class="w-full"></th>
        <th><input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'observacoes', 'contains')" placeholder="Filtrar Observações" class="w-full"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-pagamento>
      <tr [pSelectableRow]="pagamento">
        <td>{{ pagamento.idPagamento }}</td>
        <td>{{ pagamento.movimentacao?.historico }}</td>
        <td>{{ pagamento.dataRecebimento | date:'dd/MM/yyyy' }}</td>
        <td>{{ pagamento.contaCaixa?.descricaoContaCaixa }}</td>
        <td>{{ pagamento.valorPagamento | currency:'BRL' }}</td>
        <td>{{ pagamento.movimentacao?.valor | currency:'BRL' }}</td> <!-- Valor Total da Movimentação -->
        <td>{{ pagamento.movimentacao?.valorPendente | currency:'BRL' }}</td> <!-- Valor Pendente da Movimentação -->
        <td>{{ pagamento.observacoes }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Confirmar Exclusão" [(visible)]="displayDeleteDialog" modal="modal" [closable]="false"
            [dismissableMask]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p class="m-0">Tem certeza de que deseja EXCLUIR este pagamento?</p>
    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" (click)="onCancelDelete()"></button>
      <button pButton severity="danger" label="Confirmar" icon="pi pi-check" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>
