<div class="card">
  <div class="button-group" style="display: flex; justify-content: flex-end; gap: 10px; margin-bottom: 10px; align-items: center;">
    <span style="font-weight: bold; margin-right: auto;">
        Selecione um item na grid abaixo para poder alterá-lo ou excluí-lo.
    </span>
    <button pButton pRipple label="Novo" (click)='onAdd()' class="p-button p-button" icon="pi pi-plus"></button>
    <button pButton pRipple label="Alterar" (click)='onEdit(_specificEntity?.idMovimentacao)' class="p-button p-button" icon="pi pi-pencil" [disabled]='!_specificEntity?.idMovimentacao'></button>
    <button pButton pRipple label="Pagar" icon="pi pi-dollar" (click)="onPay(_specificEntity)" [disabled]='!_specificEntity?.idMovimentacao'></button>
    <button pButton pRipple label="Excluir" (click)='showDeleteDialog(_specificEntity)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;" [disabled]='!_specificEntity?.idMovimentacao'></button>
  </div>

  <p-table #dt1 [value]="movimentacoes" selectionMode="single" [(selection)]="_specificEntity" dataKey="idMovimentacao" [tableStyle]="{'min-width': '50rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session-movimentacao">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idMovimentacao" style="width:10%">Cod. <p-sortIcon field="idMovimentacao"></p-sortIcon></th>
        <th pSortableColumn="historico" style="width:30%">Histórico <p-sortIcon field="historico"></p-sortIcon></th>
        <th pSortableColumn="dataLancamento" style="width:15%">Data Lançamento <p-sortIcon field="dataLancamento"></p-sortIcon></th>
        <th pSortableColumn="classificacao" style="width:20%">Classificação <p-sortIcon field="classificacao"></p-sortIcon></th>
        <th pSortableColumn="valor" style="width:10%">Valor <p-sortIcon field="valor"></p-sortIcon></th>
        <th pSortableColumn="valorPendente" style="width:10%">Valor Pendente <p-sortIcon field="valorPendente"></p-sortIcon></th>
        <th pSortableColumn="observacoes" style="width:10%">Observações <p-sortIcon field="observacoes"></p-sortIcon></th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'idMovimentacao', 'contains')" [value]="$any(dt1.filters['idMovimentacao'])?.value" placeholder="Filtrar Cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'historico', 'contains')" [value]="$any(dt1.filters['historico'])?.value" placeholder="Filtrar Histórico" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'dataLancamento', 'contains')" [value]="$any(dt1.filters['dataLancamento'])?.value" placeholder="Filtrar Data" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'classificacao', 'contains')" [value]="$any(dt1.filters['classificacao'])?.value" placeholder="Filtrar Classificação" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'valor', 'contains')" [value]="$any(dt1.filters['valor'])?.value" placeholder="Filtrar Valor" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'valorPendente', 'contains')" [value]="$any(dt1.filters['valorPendente'])?.value" placeholder="Filtrar Valor Pendente" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'observacoes', 'contains')" [value]="$any(dt1.filters['observacoes'])?.value" placeholder="Filtrar Observações" class="w-full">
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-movimentacao>
      <tr [pSelectableRow]="movimentacao">
        <td>
          <span class="p-column-title">Cod.</span>
          {{movimentacao.idMovimentacao}}
        </td>
        <td>
          <span class="p-column-title">Histórico</span>
          {{movimentacao.historico}}
        </td>
        <td>
          <span class="p-column-title">Data Lançamento</span>
          {{movimentacao.dataLancamento | date:'dd/MM/yyyy'}}
        </td>
        <td>
          <span class="p-column-title">Classificação</span>
          {{movimentacao.classificacao?.descricaoClassificacao}}
        </td>
        <td>
          <span class="p-column-title">Valor</span>
          {{movimentacao.valor | currency:'BRL'}}
        </td>
        <td>
          <span class="p-column-title">Valor Pendente</span>
          {{movimentacao.valorPendente | currency:'BRL'}}
        </td>
        <td>
          <span class="p-column-title">Observações</span>
          {{movimentacao.observacoes}}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Confirmar Exclusão" [(visible)]="displayDeleteDialog" modal="modal" [closable]="false"
            [dismissableMask]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p class="m-0">Tem certeza de que deseja EXCLUIR esta movimentação?</p>
    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" (click)="onCancelDelete()"></button>
      <button pButton severity="danger" label="Confirmar" icon="pi pi-check" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>
