<div class="card">
  <p-table #dt1 [value]="tipos" selectionMode="single" [(selection)]="_specificEntity" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session-tipo-animal">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id_tipo" style="width:10%">Cod. <p-sortIcon field="id_animal"></p-sortIcon></th>
        <th pSortableColumn="nome_tipo" style="width:70%">Descrição <p-sortIcon field="nome_animal"></p-sortIcon></th>
        <th pSortableColumn="Ações" style="width:20%">Ações</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'id_tipo', 'contains')" [value]="$any(dt1.filters['id_tipo'])?.value" placeholder="Filtrar cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nome_tipo', 'contains')" [value]="$any(dt1.filters['nome_tipo'])?.value" placeholder="Filtrar descrição" class="w-full">
        </th>
        <th>
          <p-button label="Novo" icon="pi pi-plus" (click)="onAdd()" ></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tipo>
      <tr [pSelectableRow]="tipo">
        <td>
          <span class="p-column-title">Cod.</span>
          {{tipo.id}}
        </td>
        <td>
          <span class="p-column-title">Nome</span>
          {{tipo.name}}
        </td>
        <td>
          <div>
            <button pButton pRipple label="Alterar " (click)='onEdit(tipo.id)' class="p-button mr-2" icon="pi pi-pencil" style="margin: 2px 0;"></button>
            <button pButton pRipple label="Excluir" (click)='showDeleteDialog(tipo)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Confirmar Exclusão" [(visible)]="displayDeleteDialog" modal="modal" [closable]="false"
            [dismissableMask]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <p class="m-0">Tem certeza de que deseja excluir este animal?</p>
    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" (click)="onCancelDelete()"></button>
      <button pButton severity="danger" label="Confirmar" icon="pi pi-check" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>
