<div class="card" *ngForOf="let adoption">
  <form [formGroup]="adoptionForm" (ngSubmit)="submitDetails()">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY BASE</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Cadastros Gerais</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Adoção</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">Avaliação de Adotante</div><br/><br/>
      </div>
      <div class="mt-3 lg:mt-0">
        <button pButton pRipple label="Voltar" class="p-button mr-2" icon="pi pi-chevron-left" routerLink="/adocao"></button>
      </div>
    </div>

<!--    <p class="adoption-details"><strong>Nome Adotante:</strong> {{adoption.nome_adotante}}</p>-->
<!--    <p class="adoption-details"><strong>Email:</strong> {{adoption.email}}</p>-->
<!--    <p class="adoption-details"><strong>Telefone:</strong> {{adoption.telefone}}</p>-->
<!--    <p class="adoption-details"><strong>Endereço:</strong> {{adoption.endereco}}{{adoption.numero}}</p>-->

<!--    &lt;!&ndash;Questionário&ndash;&gt;-->

<!--    <div class="field">-->
<!--    <label for="status_adocao">Status *</label>-->
<!--    <p-dropdown [options]="statusOptions" [(ngModel)]="selectStatus" optionLabel="label" formControlName="status_adocao" class="w-full" name="status_adocao"-->
<!--                placeholder="Selecione o animal"></p-dropdown>-->
<!--    <small *ngIf="adoptionForm.get('status_adocao')?.invalid && (adoptionForm.get('status_adocao')?.dirty || adoptionForm.get('status_adocao')?.touched)" class="block p-error">-->
<!--      <div *ngIf="adoptionForm.get('status_adocao')?.errors?.['required']">Selecionar o status de adoção é uma informação obrigatória.</div>-->
<!--    </small>-->
<!--    </div>-->

<!--    <div class="field">-->
<!--    <label for="observacoes">Observações</label>-->
<!--    <input id="observacoes" formControlName="observacoes" pInputTextarea class="w-full" type="text" />-->
<!--    <small *ngIf="adoptionForm.get('observacoes')?.invalid && (adoptionForm.get('observacoes')?.dirty || adoptionForm.get('observacoes')?.touched)" class="block p-error">-->
<!--      <div *ngIf="adoptionForm.get('observacoes')?.errors?.['required']">Relatar as suas observações é uma informação obrigatória.</div>-->
<!--    </small>-->
<!--    </div>-->

    <button pButton label="ENVIAR" stylepInputText class="w-full" type="submit"></button>

  </form>
</div>
