<!--<p-card [ngModel]="_specificVolunteer" header="Detalhes do voluntário"-->
<!--        [formGroup]="editForm"-->
<!--        [style]="{ 'min-width': '75rem', height: 'auto' }"-->
<!--        (ngSubmit)="confirmUpdate()">-->
<!--  <div class="surface-section py-2 md-3">-->
<!--    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">-->
<!--      <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY BASE</a></li>-->
<!--      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>-->
<!--      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Cadastros Gerais</a></li>-->
<!--      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>-->
<!--      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Voluntários</a></li>-->
<!--      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>-->
<!--      <li><span class="text-900 line-height-3">Editar</span></li>-->
<!--      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>-->
<!--      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você edita os voluntarios do sistema!</a></li>-->
<!--    </ul>-->
<!--    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">-->
<!--      <div>-->
<!--        <div class="font-medium text-3xl text-900">Editar Voluntário</div><br/><br/>-->
<!--      </div>-->
<!--      <div class="mt-3 lg:mt-0">-->
<!--        <button pButton pRipple label="Voltar" class="p-button-danger p-button mr-2" icon="pi pi-arrow-left" routerLink="/volunteer"></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <ng-container>-->
<!--    <div class="volunteer-details">-->
<!--      <div class="detail">-->
<!--        <p><strong>Name:</strong> {{ _specificVolunteer.nome_voluntario }}</p>-->
<!--      </div>-->
<!--      <p-divider type="solid"></p-divider>-->
<!--      <div class="detail justify-content-between">-->
<!--        <p><strong>Email:</strong> {{ _specificVolunteer.email }}</p>-->
<!--      </div>-->
<!--      <p-divider type="solid"></p-divider>-->
<!--      <div class="detail">-->
<!--        <p><strong>CPF:</strong> {{ _specificVolunteer.cpf_voluntario }}</p>-->
<!--      </div>-->
<!--      <p-divider type="solid"></p-divider>-->
<!--      <div class="detail">-->
<!--        <p><strong>Cargo:</strong> {{ _specificVolunteer.cargo_voluntario }}</p>-->
<!--      </div>-->
<!--      <p-divider type="solid"></p-divider>-->
<!--      <div class="detail">-->
<!--        <p><strong>Description:</strong> {{ _specificVolunteer.descricao_atividades_voluntario }}</p>-->
<!--      </div>-->
<!--      <p-divider type="solid"></p-divider>-->
<!--      <div class="detail">-->
<!--        <p><strong>PF/PJ:</strong> {{ _specificVolunteer.pf_pj_voluntario }}</p>-->
<!--      </div>-->
<!--      <p-divider type="solid"></p-divider>-->
<!--    </div>-->
<!--        <button pButton pRipple label="Confirmar" styleClass="w-full" class="p-button-success" icon="pi pi-wrench" (click)="updateEdit(_specificVolunteer.idvoluntario)"></button>-->
<!--  </ng-container>-->
<!--</p-card>-->
