<p-dataView [value]="animals" [layout]="'grid'">
  <ng-template let-animal pTemplate="grid">
    <div class="grid grid-nogutter p-3 gap-3">
      <div *ngFor="let animal of animals">
        <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
                <div class="relative mx-auto">
                  <img [src]="loadImage(animal.image)" alt="{{ animal.nome_animal || 'Unknown' }}" style="max-width: 300px; height: 300px;"/>
                </div>
            </div>
            <div class="mb-3 font-medium" style="font-size: 12px;">
              {{ animal.idade || 'Desconhecida' }}, {{ animal.peso_animal || '' }} kg, {{ animal.comprimento_animal || 'Desconhecido' }} cm
            </div>
            <div class="mb-3 font-semibold">
              <div class="text-3xl text-primary font-bold mb-3">{{ animal.nome_animal }}</div>
              <div class="text-1xl text-secondary font-bold">Localização: {{ animal.localizacao_animal || 'Desconhecida' }}</div>
            </div>
            <div class="flex justify-content-between align-items-center">
              <div class="mt-0 font-semibold text-xl">
                @if (animal.genero_animal == 'Macho') {
                  <i class="pi pi-mars"></i> Macho
                } @else {
                  <i class="pi pi-venus"></i> Femea
                }
              </div>
              <span>
                <p-button icon="pi pi-heart" label="Quero adotar!" (click)="onAdd(animal.id_perfil_adocao)" class="white-space-nowrap"/>
              </span>
            </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
