<div class="adoption-card" *ngFor="let animal of animals">
  <img src="{{animal.image}}" alt="{{animal.nome_animal}}" class="animal-image">
  <div class="card-content">
    <h2 class="animal-name">{{animal.nome_animal}}</h2>
    <p class="animal-details"><strong>Idade:</strong> {{animal.idade}}</p>
    <p class="animal-details"><strong>Raça:</strong> {{animal.raca_animal}}</p>
    <p class="animal-details"><strong>Peso:</strong> {{animal.peso_animal}} kg</p>
    <p class="animal-details"><strong>Comprimento:</strong> {{animal.comprimento_animal}} cm</p>
    @if (animal.genero_animal == 'Macho') {
      <p class="animal-details"><strong>Gênero:</strong><i class="pi pi-mars"></i> {{ animal.genero_animal }}</p>
    } @else {
      <p class="animal-details"><strong>Gênero:</strong><i class="pi pi-venus"></i> {{ animal.genero_animal }}</p>
    }
    <p class="animal-details"><strong>Localização:</strong> {{animal.localizacao_animal}}</p>
    <div class="flex flex-row-reverse md:flex-row gap-2">
      <button class="adopt-button" (click)="onAdd(animal.id_perfil_adocao)">
        <i class="pi pi-heart"></i> Quero adotar!
      </button>
    </div>
  </div>
</div>

