<p-table
  #dt2
  [value]="volunteers"
  dataKey="idvoluntario"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['fullName', 'cargo_voluntario', 'email', 'pf_pj_voluntario']"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="onSearch($event)" placeholder="Search keyword"/>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:22%">Full Name</th>
      <th style="width:22%">Cargo</th>
      <th style="width:22%">Email</th>
      <th style="width:20%">PF/PJ</th>
      <th style="width:3%">Actions</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="fullName"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="cargo_voluntario"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="email"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="pf_pj_voluntario"></p-columnFilter>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-volunteer>
    <tr>
      <td>{{ volunteer.fullName }}</td>
      <td>{{ volunteer.cargo_voluntario }}</td>
      <td>{{ volunteer.email }}</td>
      <td>{{ volunteer.pf_pj_voluntario }}</td>
      <td>
        <p-button (click)="updateState(volunteer.idvoluntario)" icon="pi pi-plus" label="Ampliar"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No volunteers found.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [ngModel]="_specificVolunteer" header="Detalhes do voluntário" [(visible)]="showHidden" [style]="{ width: '50vw', height: 'auto' }">
  <div class="volunteer-details">
    <div class="detail p-button-sm mr-2 mb-2 p-splitbutton p-component" style="display: flex; justify-content: flex-end;">
      <div class="actions">
        <p-splitButton label="Aplicar"
                       icon="pi pi-check"
                       (onClick)="save('info')"
                       [model]="items">
        </p-splitButton>
      </div>
    </div>
    <div class="detail">
      <p><strong>Name:</strong> {{ _specificVolunteer.fullName }}</p>
    </div>
    <p-divider type="solid"></p-divider>
    <div class="detail justify-content-between">
      <p><strong>Email:</strong> {{ _specificVolunteer.email }}</p>
    </div>
    <p-divider type="solid"></p-divider>
    <div class="detail">
      <p><strong>CPF:</strong> {{ _specificVolunteer.cpf_voluntario }}</p>
    </div>
    <p-divider type="solid"></p-divider>
    <div class="detail">
      <p><strong>Cargo:</strong> {{ _specificVolunteer.cargo_voluntario }}</p>
    </div>
    <p-divider type="solid"></p-divider>
    <div class="detail">
      <p><strong>Description:</strong> {{ _specificVolunteer.descricao_atividades_voluntario }}</p>
    </div>
    <p-divider type="solid"></p-divider>
    <div class="detail">
      <p><strong>PF/PJ:</strong> {{ _specificVolunteer.pf_pj_voluntario }}</p>
    </div>
  </div>
</p-dialog>
