<div class="card">
  <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
    <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY Animais</a></li>
    <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
    <li><a class="text-500 no-underline line-height-3 cursor-pointer">Cadastros de ficha para adoção</a></li>
    <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li> Aqui você cadastra os dados necessários para a adoção
  </ul>
  <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
    <div class="font-medium text-3xl text-900">Ficha para adoção</div>
    <div class="mt-3 lg:mt-0">
      <button pButton pRipple label="Voltar" class="p-button mr-2" icon="pi pi-chevron-left" routerLink="/restrict/adocao"></button>
    </div>
  </div>
  <small class="block p-error">
    <div >* campos obrigatórios</div>
  </small>
  <p-messages></p-messages>
  <br/>
  <form [formGroup]="adoptionForm" (ngSubmit)="submitDetails()">
    <div class="p-4 shadow-2 border-round w-12 lg:w-12">
      <div class="p-fluid p-formgrid grid">
        <!-- nome_adotante -->
        <div class="field col-9 md:col-9">
          <label for="nome_adotante">Nome do Adotante Responsável: <i class="p-error">*</i></label>
          <input id="nome_adotante" formControlName="nome_adotante" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('nome_adotante')?.invalid && (adoptionForm.get('nome_adotante')?.dirty || adoptionForm.get('nome_adotante')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('nome_adotante')?.errors?.['required']">O nome do adotante é uma informação obrigatória.</div>
          </small>
        </div>
        <!-- data_nascimento -->
        <div class="field col-3 md:col-3">
          <label for="data_nascimento">Data de Nascimento: <i class="p-error">*</i></label>
          <input id="data_nascimento" formControlName="data_nascimento" pInputText class="p-calendar-w-btn" type="date" [attr.max]="maxDate"/>
          <small *ngIf="adoptionForm.get('data_nascimento')?.invalid && (adoptionForm.get('data_nascimento')?.dirty || adoptionForm.get('data_nascimento')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('data_nascimento')?.errors?.['required']">A data de nascimento é uma informação obrigatória.</div>
          </small>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <!-- CPF -->
        <div class="field col-4 md:col-4">
          <label for="CPF">CPF: <i class="p-error">*</i></label>
          <input id="CPF" formControlName="CPF" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('CPF')?.invalid && (adoptionForm.get('CPF')?.dirty || adoptionForm.get('CPF')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('CPF')?.errors?.['required']">O CPF é uma informação obrigatória.</div>
            <div *ngIf="adoptionForm.get('CPF')?.errors?.['pattern']">CPF inválido. Deve conter 11 dígitos numéricos.</div>
          </small>
        </div>
        <!-- telefone -->
        <div class="field col-4 md:col-4">
          <label for="telefone">Telefone: <i class="p-error">*</i></label>
          <input id="telefone" formControlName="telefone" pInputText class="w-full" type="text"  maxlength="12"/>
          <small *ngIf="adoptionForm.get('telefone')?.invalid && (adoptionForm.get('telefone')?.dirty || adoptionForm.get('telefone')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('telefone')?.errors?.['required']">O telefone é uma informação obrigatória.</div>
          </small>
        </div>
        <!-- email -->
        <div class="field col-4 md:col-4">
          <label for="email">Email: <i class="p-error">*</i></label>
          <input id="email" formControlName="email" pInputText class="w-full" type="email" />
          <small *ngIf="adoptionForm.get('email')?.invalid && (adoptionForm.get('email')?.dirty || adoptionForm.get('email')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('email')?.errors?.['required']">O email é uma informação obrigatória.</div>
            <div *ngIf="adoptionForm.get('email')?.errors?.['email']">Formato de email inválido.</div>
          </small>
        </div>
      </div>
      <hr/>
      <div class="p-fluid p-formgrid grid">
        <!-- CEP -->
        <div class="field col-4 md:col-4">
          <label for="CEP">CEP: <i class="p-error">*</i></label>
          <input id="CEP" formControlName="CEP" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('CEP')?.invalid && (adoptionForm.get('CEP')?.dirty || adoptionForm.get('CEP')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('CEP')?.errors?.['required']">O CEP é uma informação obrigatória.</div>
            <div *ngIf="adoptionForm.get('CEP')?.errors?.['pattern']">Formato de CEP inválido.</div>
          </small>
        </div>
        <!-- endereco -->
        <div class="field col-6 md:col-6">
          <label for="endereco">Endereço: <i class="p-error">*</i></label>
          <input id="endereco" formControlName="endereco" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('endereco')?.invalid && (adoptionForm.get('endereco')?.dirty || adoptionForm.get('endereco')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('endereco')?.errors?.['required']">O endereço é uma informação obrigatória.</div>
          </small>
        </div>
        <!-- numero -->
        <div class="field col-2 md:col2">
          <label for="numero">Número: <i class="p-error">*</i></label>
          <input id="numero" formControlName="numero" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('numero')?.invalid && (adoptionForm.get('numero')?.dirty || adoptionForm.get('numero')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('numero')?.errors?.['required']">O número é uma informação obrigatória.</div>
          </small>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <!-- Complemento -->
        <div class="field col-3 md:col-3">
          <label for="Complemento">Complemento:</label>
          <input id="Complemento" formControlName="Complemento" pInputText class="w-full" type="text" />
        </div>
        <!-- Bairro -->
        <div class="field col-3 md:col-3">
          <label for="Bairro">Bairro: <i class="p-error">*</i></label>
          <input id="Bairro" formControlName="Bairro" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('Bairro')?.invalid && (adoptionForm.get('Bairro')?.dirty || adoptionForm.get('Bairro')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('Bairro')?.errors?.['required']">O bairro é uma informação obrigatória.</div>
          </small>
        </div>
        <!-- Estado -->
        <div class="field col-3 md:col-3">
          <label for="Estado">Estado: <i class="p-error">*</i></label>
          <input id="Estado" formControlName="Estado" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('Estado')?.invalid && (adoptionForm.get('Estado')?.dirty || adoptionForm.get('Estado')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('Estado')?.errors?.['required']">O estado é uma informação obrigatória.</div>
          </small>
        </div>
        <!-- Cidade -->
        <div class="field col-3 md:col-3">
          <label for="Cidade">Cidade: <i class="p-error">*</i></label>
          <input id="Cidade" formControlName="Cidade" pInputText class="w-full" type="text" />
          <small *ngIf="adoptionForm.get('Cidade')?.invalid && (adoptionForm.get('Cidade')?.dirty || adoptionForm.get('Cidade')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('Cidade')?.errors?.['required']">A cidade é uma informação obrigatória.</div>
          </small>
        </div>
      </div>
      <hr/>
      <div class="p-fluid p-formgrid grid">
        <!-- Existem crianças ou pessoas com alergias na casa? -->
        <div class="field col-6 md:col-6">
          <label for="alergias">Existem crianças ou pessoas com alergias na casa? <i class="p-error">*</i></label><br/>
          <p-radioButton name="alergias" value="true" formControlName="alergias" label="Sim"></p-radioButton>&nbsp;&nbsp;&nbsp;
          <p-radioButton name="alergias" value="false" formControlName="alergias" label="Não"></p-radioButton>
        </div>
        <!-- Você já teve animais de estimação antes? -->
        <div class="field col-6 md:col-6">
          <label for="animais_antes">Você já teve animais de estimação antes? <i class="p-error">*</i></label><br>
          <p-radioButton name="animais_antes" value="true" formControlName="animais_antes" label="Sim"></p-radioButton>&nbsp;&nbsp;&nbsp;
          <p-radioButton name="animais_antes" value="false" formControlName="animais_antes" label="Não"></p-radioButton>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <!-- Você tem um quintal ou área externa segura para o contacaixa brincar? -->
        <div class="field col-6 md:col-6">
          <label for="quintal">Você tem um quintal ou área externa segura para o animal brincar? <i class="p-error">*</i></label><br>
          <p-radioButton name="quintal" value="true" formControlName="quintal" label="Sim"></p-radioButton>&nbsp;&nbsp;&nbsp;
          <p-radioButton name="quintal" value="false" formControlName="quintal" label="Não"></p-radioButton>
        </div>
        <!-- Está disposto a fornecer cuidados médicos em caso de necessidade? -->
        <div class="field col-6 md:col-6">
          <label for="cuidados_medicos">Está disposto a fornecer cuidados médicos em caso de necessidade? <i class="p-error">*</i></label><br/>
          <p-radioButton name="cuidados_medicos" value="true" formControlName="cuidados_medicos" label="Sim"></p-radioButton>&nbsp;&nbsp;&nbsp;
          <p-radioButton name="cuidados_medicos" value="false" formControlName="cuidados_medicos" label="Não"></p-radioButton>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <!-- Quantas horas por dia você costuma passar fora de casa? -->
        <div class="field col-12 md:col-12">
          <label for="horas_fora">Quantas horas por dia você costuma passar fora de casa? <i class="p-error">*</i></label>
          <input id="horas_fora" formControlName="horas_fora" pInputText type="number" class="w-full"  min="1" max="24"/>
          <small *ngIf="adoptionForm.get('horas_fora')?.invalid && (adoptionForm.get('horas_fora')?.dirty || adoptionForm.get('horas_fora')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('horas_fora')?.errors?.['required']">É obrigátorio informar as horas.</div>
            <div *ngIf="adoptionForm.get('horas_fora')?.errors?.['min']">A hora deve ser no mínimo 0.</div>
            <div *ngIf="adoptionForm.get('horas_fora')?.errors?.['max']">A hora deve ser no máximo 24.</div>
          </small>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <!-- Por que você quer adotar este contacaixa em particular? -->
        <div class="field col-12 md:col-12">
          <label for="motivo_adocao">Por que você quer adotar este animal? <i class="p-error">*</i></label>
          <textarea id="motivo_adocao"  formControlName="motivo_adocao" pInputTextarea class="w-full" type="text"></textarea>
          <small *ngIf="adoptionForm.get('motivo_adocao')?.invalid && (adoptionForm.get('motivo_adocao')?.dirty || adoptionForm.get('motivo_adocao')?.touched)" class="block p-error">
            <div *ngIf="adoptionForm.get('motivo_adocao')?.errors?.['required']">É obrigátorio informar as suas motivações.</div>
          </small>
        </div>
      </div>
      <button pButton label="ENVIAR" stylepInputText class="w-full" type="submit"></button>
    </div>
  </form>
</div>
