<div class="card">
  <p-table #dt1 [value]="users" selectionMode="single" [(selection)]="_specificUser" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
  [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="width:10%">Cod. <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nome" style="width:20%">Nome <p-sortIcon field="nome"></p-sortIcon></th>
            <th pSortableColumn="login" style="width:20%">Email <p-sortIcon field="login"></p-sortIcon></th>
            <th pSortableColumn="telefone" style="width:20%">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
            <th pSortableColumn="role" style="width:20%">Tipo <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="Ações" style="width:15%">Ações</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'id', 'contains')" [value]="$any(dt1.filters['id'])?.value" placeholder="Filtrar Cod." class="w-full">
            </th>
            <th>
                <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nome', 'contains')" [value]="$any(dt1.filters['nome'])?.value" placeholder="Filtrar Nome" class="w-full">
            </th>
            <th>
                <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'login', 'contains')" [value]="$any(dt1.filters['login'])?.value" placeholder="Filtrar Login" class="w-full">
            </th>
            <th>
              <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'telefone', 'contains')" [value]="$any(dt1.filters['telefone'])?.value" placeholder="Filtrar telefone" class="w-full">
            </th>
            <th>
                <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'role', 'contains')" [value]="$any(dt1.filters['role'])?.value" placeholder="Filtrar cargo" class="w-full">
            </th>
            <th>
              <p-button label="Novo" icon="pi pi-plus" (click)="onAdd()" ></p-button>
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user">
            <td>
              <span class="p-column-title">Cod.</span>
              {{user.id}}
            </td>
            <td>
              <span class="p-column-title">Nome</span>
              {{user.nome}}
            </td>
            <td>
              <span class="p-column-title">Email</span>
              <span class="ml-1 vertical-align-middle">{{user.login}}</span>
            </td>
            <td>
              <span class="p-column-title">Telefone</span>
              <span class="ml-1 vertical-align-middle">{{user.telefone}}</span>
            </td>
            <td>
              <span class="p-column-title">Tipo</span>
              <span class="ml-1 vertical-align-middle">{{user.role}}</span>
            </td>
            <td>
              <div>
                <button pButton pRipple label="Alterar " (click)='onEdit(user.id)' class="p-button mr-2" icon="pi pi-pencil" style="margin: 2px 0;"></button>
                <button pButton pRipple label="Senha " (click)='onEditPassword(user.id)' class="p-button mr-2" icon="pi pi-key" style="margin: 2px 0;"></button>
                <button pButton pRipple label="Excluir" (click)='onDelete(user.id)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"></button>
              </div>
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="4">Não foram encontrados registros.</td>
          </tr>
      </ng-template>
  </p-table>
</div>
