<div class="card">
  <p-table #dt1 [value]="adoptions" selectionMode="single" [(selection)]="_specificEntity" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id_animal" style="width:10%">Cod. <p-sortIcon field="id_adocao"></p-sortIcon></th>
        <th pSortableColumn="nome_voluntario" style="width:20%">Nome <p-sortIcon field="nome_adotante"></p-sortIcon></th>
        <th pSortableColumn="cpf_voluntario" style="width:20%">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="cnpj_voluntario" style="width:20%">Animal <p-sortIcon field="id_animal"></p-sortIcon></th>
        <th pSortableColumn="cargo_voluntario" style="width:20%">Status <p-sortIcon field="status_adocao"></p-sortIcon></th>
        <th pSortableColumn="Ações" style="width:15%">Ações</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'id_adocao', 'contains')" [value]="$any(dt1.filters['id_adocao'])?.value" placeholder="Filtrar Cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nome_adotante', 'contains')" [value]="$any(dt1.filters['nome_adotante'])?.value" placeholder="Filtrar Nome" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'email', 'contains')" [value]="$any(dt1.filters['email'])?.value" placeholder="Filtrar email" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'id_animal', 'contains')" [value]="$any(dt1.filters['id_animal'])?.value" placeholder="Filtrar id_animal" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'status_adocao', 'contains')" [value]="$any(dt1.filters['status_adocao'])?.value" placeholder="Filtrar Data de resgate" class="w-full">
        </th>
        <th>
          <p-button label="Novo" icon="pi pi-plus" (click)="onAdd()" ></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-adoption>
      <tr [pSelectableRow]="adoptions">
        <td>
          <span class="p-column-title">Cod.</span>
          {{adoption.id_adocao}}
        </td>
        <td>
          <span class="p-column-title">Nome</span>
          {{adoption.nome_adotante}}
        </td>
        <td>
          <span class="p-column-title">Email</span>
          <span class="ml-1 vertical-align-middle">{{adoption.email}}</span>
        </td>
        <td>
          <span class="p-column-title">Animal</span>
          <span class="ml-1 vertical-align-middle">{{adoption.id_animal}}</span>
        </td>
        <td>
          <span class="p-column-title">Status</span>
          <span class="ml-1 vertical-align-middle">{{adoption.status_adocao}}</span>
        </td>
        <td>
          <div>
            <button pButton pRipple label="Alterar " (click)='onEdit(adoption.id_adocao)' class="p-button mr-2" icon="pi pi-pencil" style="margin: 2px 0;"></button>
            <button pButton pRipple label="Excluir" (click)='showDeleteDialog(adoption)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Confirmar Exclusão" [(visible)]="displayDeleteDialog" modal="modal" [closable]="false"
            [dismissableMask]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <p class="m-0">Tem certeza de que deseja excluir esta adoção?</p>
    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" (click)="onCancelDelete()"></button>
      <button pButton severity="danger" label="Confirmar" icon="pi pi-check" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>
</div>
