<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Adoções concluídas</span>
                <div class="text-900 font-medium text-xl">2593 processos</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-check-circle text-blue-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">110 </span>
        <span class="text-500">no último mês</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
          <div>
              <span class="block text-500 font-medium mb-3">Adoções em andamento</span>
              <div class="text-900 font-medium text-xl">125 processos</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width: 2.5rem; height: 2.5rem">
              <i class="pi pi-heart text-purple-500 text-xl"></i>
          </div>
      </div>
      <span class="text-green-500 font-medium">24 + </span>
      <span class="text-500">desde o último mês</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Aguardando adoção</span>
                <div class="text-900 font-medium text-xl">658 animais</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-clock text-orange-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">- %10 </span>
        <span class="text-500">desde o último mês</span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
          <div>
              <span class="block text-500 font-medium mb-3">Inaptos</span>
              <div class="text-900 font-medium text-xl">40 animais</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-red-100 border-round" style="width: 2.5rem; height: 2.5rem">
              <i class="pi pi-exclamation-triangle text-red-500 text-xl"></i>
          </div>
      </div>
      <span class="text-green-500 font-medium">0  </span>
      <span class="text-500"> novos no ultimo mês</span>
    </div>
  </div>

  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Processos de adoção em andamento</h5>
      <p-table [value]="adocao" [paginator]="true" [rows]="5" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Cod. </th>
                <th pSortableColumn="price">Nome </th>
                <th pSortableColumn="price">Raça </th>
                <th pSortableColumn="price">Loc. </th>
                <th pSortableColumn="price">Status </th>
                <th>View</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-adocao>
              <tr>
                  <td style="width: 5%;">{{adocao.cod}}</td>
                  <td style="width: 10%;">{{adocao.nome}}</td>
                  <td style="width: 10%;">{{adocao.raca}}</td>
                  <td style="width: 10%;">{{adocao.localizacao}}</td>
                  <td style="width: 10%;">{{adocao.status}}</td>
                  <td style="width: 15%;">
                      <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
    </div>
    <div class="card">
      <h5>Animais inaptos para adoção mensal</h5>
      <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>ADOÇÃO e RESGARE de animais por mês</h5>
      <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
    </div>
    <div class="card">
      <div class="flex justify-content-between align-items-center mb-5">
          <h5>Animais aguardando adoção, por tempo de espera.</h5>
      </div>
      <ul class="list-none p-0 m-0">
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">6 ou mais meses</span>
                <div class="mt-1 text-600">Altissíma prioridade em eventos de adoção</div>
            </div>
            <div class="mt-2 md:mt-0 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                    <div class="bg-orange-500 h-full" style="width: 10%"></div>
                </div>
                <span class="text-orange-500 ml-3 font-medium">%10</span>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">5 meses </span>
                <div class="mt-1 text-600">Alta prioridade em eventos de adoção</div>
            </div>
            <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                    <div class="bg-cyan-500 h-full"style="width: 16%"></div>
                </div>
                <span class="text-cyan-500 ml-3 font-medium">%16</span>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">4 meses </span>
                <div class="mt-1 text-600">Média prioridade em eventos de adoção</div>
            </div>
            <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                    <div class="bg-pink-500 h-full" style="width: 20%"></div>
                </div>
                <span class="text-pink-500 ml-3 font-medium">%20</span>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">3 meses</span>
                <div class="mt-1 text-600">Média prioridade em eventos de adoção</div>
            </div>
            <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                    <div class="bg-green-500 h-full" style="width: 20%"></div>
                </div>
                <span class="text-green-500 ml-3 font-medium">%20</span>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">2 meses</span>
                <div class="mt-1 text-600">Baixa prioridade em eventos de adoção</div>
            </div>
            <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                    <div class="bg-purple-500 h-full" style="width: 32%"></div>
                </div>
                <span class="text-purple-500 ml-3 font-medium">%24</span>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">1 mês</span>
                <div class="mt-1 text-600">Baixa prioridade em eventos de adoção</div>
            </div>
            <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                    <div class="bg-teal-500 h-full" style="width: 10%"></div>
                </div>
                <span class="text-teal-500 ml-3 font-medium">%10</span>
            </div>
        </li>
      </ul>
    </div>
    <div class="card flex flex-column align-items-center">
      <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
    </div>
  </div>









</div>
