<div class="card">
  <div class="surface-section py-2 md-3">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">INICIO</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Meu painel</a></li>
      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
      <li>
        <a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você gerencia os dados do seu painel!</a>
      </li>
    </ul>

    <!-- Seção de processos de adoção em andamento -->
    <div class="bg-blue-400 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
      <div class="font-bold">Meus processos de adoção em andamento!</div>
    </div>
    <div class="p-3">
      <ul class="list-none m-0 p-0">
          <li *ngFor="let adocao of adocoesEmAndamento" class="mb-3 p-3 border-round bg-gray-100">
              <div>
                  <strong>Nome do Adotante:</strong> {{ adocao.nome_adotante || 'Não disponível' }}
              </div>
              <div>
                  <strong>Nome do Animal:</strong> {{ adocao.nome_animal || 'Não disponível' }}
              </div>
              <div>
                  <strong>Status da Adoção:</strong> {{ adocao.status_adocao || 'Não disponível' }}
              </div>
              <div>
                  <strong>Idade do Animal:</strong> {{ adocao.idade }}
              </div>
              <div>
                  <strong>Necessidades Médicas:</strong> {{ adocao.medical_necessities }}
              </div>

          </li>
      </ul>
    </div>




    <!-- Seção com informações da ONG -->
    <br/>
    <div class="bg-blue-400 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
      <div class="font-bold mr-8">Os números da ONG!</div>
      <div class="align-items-center hidden lg:flex">
          <span class="line-height-3">Ajude na adoção, apadrinhamento ou doando.</span>
      </div>
    </div>

    <!-- Cards de estatísticas de adoção -->
    <br/>
    <div class="grid">
      <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Adoções concluídas</span>
                    <div class="text-900 font-medium text-xl">{{ completedAdoptions }} processos</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-check-circle text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Adoções em andamento</span>
                    <div class="text-900 font-medium text-xl">{{ inProgressAdoptions }} processos</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-heart text-purple-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Aguardando adoção</span>
                    <div class="text-900 font-medium text-xl">{{ pendingAdoptions }} animais</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-clock text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Mensagem de incentivo -->
  <div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold">Se você pode mudar o destino de um animal de rua, por que não fazer isso?!</div>
  </div>

  <!-- Logo -->
  <br/>
  <div class="text-center">
    <a class="layout-topbar-logo" routerLink="restrict/home">
      <img src="../../../assets/img/logo_buddyBridge_light.png" alt="logo" style="width: 30%;">
    </a>
  </div>
</div>
