<div class="card">
  <div class="surface-section py-2 md-3">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">BUDDY BASE</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Cadastros Gerais</a></li>
      <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
      <li><span class="text-900 line-height-3">Adoções</span></li>
      <li class="px-2"><i class="pi pi-info-circle text-500 line-height-3"></i></li>
      <li><a class="text-500 no-underline line-height-3 cursor-pointer">Aqui você gerencia os pedidos de adoção!</a></li>
    </ul>
    <div class="flex align-items-start flex-column lg:flex-row">
      <div class="font-medium text-3xl text-900">Adoções em análise cadastradas no sistema</div><br/><br/><br/>
    </div>
  </div>
<app-adoption-list [adoptions]="adoptions"  (edit)="onEdit($event)"></app-adoption-list>
</div>
