<div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden"
    style="background: linear-gradient(0deg, rgba(0, 10, 100, 0.2), rgba(40, 2, 255, 0.2)),
                       radial-gradient(77.36% 256.97% at 77.36% 57.52%, #3b82f6 0%, #C3E3FA 100%); clip-path: ellipse(150% 87% at 93% 13%);">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Ajude a fazer a diferença! </span>ADOTE UM ANIMAL</h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Se não puder adotar, ainda é possível ajudar a causa</p>
        <button pButton pRipple type="button" label="Colabore com a causa!" class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"></button>
    </div>
    <div class="flex justify-content-center md:justify-content-end">
        <img src="../../../assets/img/default-logo.png" alt="Hero Image" class="w-9 md:w-auto">
    </div>
    <br/>
    <br/>
    <br/>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
