<div class="surface-0 flex justify-content-center min-h-screen">
  <div id="home" class="landing-wrapper overflow-hidden">
    <header>
      <div class="py-2 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
          <a class="flex align-items-center" href="/home">
              <img src="../../../../assets/img/default-logo.png" alt="Logo da ong" height="50" class="mr-0 lg:mr-2">
          </a>
          <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
              <i class="pi pi-bars text-4xl"></i>
          </a>
          <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:60px">
              <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                  <li>
                      <a href="/institucional" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                         <span>Institucional</span>
                      </a>
                  </li>
                  <li>
                      <a href="/home" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                          <span>Quero adotar!</span>
                      </a>
                  </li>
                  <li>
                      <a href="/home" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                          <span>Seja um voluntário!</span>
                      </a>
                  </li>
              </ul>
              <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-4 mt-3 lg:mt-0">
                <button pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500" onclick="window.location.href='/login'"></button>
                <button pButton pRipple label="Cadastre-se" class="p-button-rounded border-none font-light line-height-2 bg-blue-500 text-white" onclick="window.location.href='/register'" ></button>
              </div>
          </div>
      </div>
    </header>
    <section class="min-w-screen">
      <router-outlet></router-outlet>
    </section>
    <footer class="text-center text-white" style="background-color: #3b82f6; ">
      <div class="text-center text-dark p-3" style="background-color:#3b82f6;">
        © 2024 Copyright - <a class="text-dark" style="color: white" href="https://mdbootstrap.com/">BuddyBridge.com</a>
      </div>
    </footer>
  </div>
</div>

