<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
    <footer class="text-center text-white" style="background-color: #3b82f6; ">
      <div class="text-center text-dark p-3" style="background-color:#3b82f6;">
        © 2024 Copyright - <a class="text-dark" style="color: white" href="https://mdbootstrap.com/">BuddyBridge.com</a>
      </div>
    </footer>
</div>
