
<div class="grid grid-nogutter surface-section text-800"
     style="background: linear-gradient(0deg, var(--primary-color), rgba(40, 2, 255, 0.2)),
                        radial-gradient(77.36% 256.97% at 77.36% 57.52%, #3b82f6 0%, #C3E3FA 100%); clip-path: ellipse(150% 87% at 93% 13%);">
  <div class="col-12 md:col-6 p-6 text-center md:text-left ">
      <section>
          <span class="block text-6xl font-bold mb-1">LOGIN</span>
          <div class="mt-2">Não tem uma conta? <a routerLink="/register" style="color: white;">Clique aqui</a></div>
      </section>
  </div>
  <div class="col-12 md:col-6 p-6 text-center md:text-left">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class=" surface-card py-8 px-4 sm:px-8" style="border-radius: 35px">
        <p-messages></p-messages>
        <div class="text-center"><div class="text-900 text-3xl font-medium mb-3">LOGIN</div></div>
        <div>
          <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="login" class="w-full" name="email" placeholder="Digite seu email" />
            <small *ngIf="login.invalid && (login.dirty || login.touched)" class="block p-error">
              <div *ngIf="login.errors?.['required']">O email é uma informação obrigatória.</div>
              <div *ngIf="login.errors?.['email']">Email invalido</div>
            </small>
          </div>
          <div class="field">
            <label for="password">Senha</label>
            <input type="password" pInputText formControlName="senha" class="w-full" name="password" placeholder="Digite sua senha"/>
          </div>
          <p-button label="Login" styleClass="w-full" [disabled]="loginForm.invalid" type="submit"></p-button>
          <div class="mt-2">Esqueceu sua senha? <a routerLink="/recovery">Clique aqui</a></div>
        </div>
      </div>
    </form>
    <br/>
    <br/>
    <br/>
  </div>
</div>
