<div class="surface-ground flex align-items-center justify-content-center overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <br/>
    <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 70%);">
      <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
          <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">CADASTRAR VOLUNTÁRIO</div>
          </div>
          <div>
            <div *ngIf="!showPj" class="field">
              <label  for="cpf_voluntario">CPF Voluntário</label>
              <input type="text" pInputText  formControlName="cpf_voluntario" class="w-full" name="cpf_voluntario" placeholder="Digite o CPF do voluntário"/>
              <small *ngIf="registerForm.get('cpf_voluntario')?.invalid && (registerForm.get('cpf_voluntario')?.dirty || registerForm.get('cpf_voluntario')?.touched)" class="block p-error">
                <div *ngIf="registerForm.get('cpf_voluntario')?.errors?.['required']">O CPF do voluntário é uma informação obrigatória.</div>
              </small>
            </div>
            <div *ngIf="showPj" class="field">
              <label for="cnpj_coluntario">CNPJ Voluntário</label>
              <input type="text" pInputText formControlName="cnpj_voluntario" class="w-full" name="cnpj_coluntario" placeholder="Digite o CNPJ do coluntário"/>
              <small *ngIf="registerForm.get('cnpj_coluntario')?.invalid && (registerForm.get('cnpj_coluntario')?.dirty || registerForm.get('cnpj_coluntario')?.touched)" class="block p-error">
                <div *ngIf="registerForm.get('cnpj_coluntario')?.errors?.['required']">O CNPJ do coluntário é uma informação obrigatória.</div>
              </small>
            </div>
            <div  class="field checkbox-field">
              <label for="pf_pj_voluntario">
              <p-checkbox formControlName="pf_pj_voluntario" value="Pessoa Fisica"
                           (click)="updateState()" inputId="pj"></p-checkbox>
              Pessoa Fisica
              </label>
            </div>
            <div class="field">
              <label for="nome_voluntario">Nome Completo</label>
              <input type="text" pInputText formControlName="nome_voluntario" class="w-full" name="fullName" placeholder="Digite seu nome"/>
              <small *ngIf="registerForm.get('nome_voluntario')?.invalid && (registerForm.get('nome_voluntario')?.dirty || registerForm.get('nome_voluntario')?.touched)" class="block p-error">
                <div *ngIf="registerForm.get('nome_voluntario')?.errors?.['required']">O nome é uma informação obrigatória.</div>
                <div *ngIf="registerForm.get('nome_voluntario')?.errors?.['pattern']">O nome não deve conter caracteres especiais</div>
              </small>
            </div>
            <div class="field">
              <label for="email_voluntario">Email</label>
              <input type="text" pInputText formControlName="email_voluntario" class="w-full" name="email" placeholder="Digite seu email" />
              <small *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="block p-error">
                <div *ngIf="registerForm.get('email')?.errors?.['required']">O email é uma informação obrigatória.</div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']">Email invalido</div>
              </small>
            </div>
            <div class="field">
              <label for="cargo_voluntario">Cargo Voluntário</label>
              <input type="text" pInputText  formControlName="cargo_voluntario" class="w-full" name="cargo_voluntario" placeholder="Digite o cargo do voluntário"/>
              <small *ngIf="registerForm.get('cargo_voluntario')?.invalid && (registerForm.get('cargo_voluntario')?.dirty || registerForm.get('cargo_voluntario')?.touched)" class="block p-error">
                <div *ngIf="registerForm.get('cargo_voluntario')?.errors?.['required']">O cargo do voluntário é uma informação obrigatória.</div>
              </small>
            </div>
            <div class="field">
              <label for="descricao_atividades_voluntario">Descrição das atividades de voluntariado</label>
              <textarea pInputTextarea formControlName="descricao_atividades_voluntario" class="w-full" name="descricao_atividades_voluntario" placeholder="Digite a descrição das atividades do voluntário"></textarea>
            </div>
          </div>
          <p-button label="Cadastrar voluntário" styleClass="w-full"  type="submit"></p-button>
          <p-button label="Voltar" styleClass="w-full"  routerLink="/volunteer"></p-button>
        </div>
      </form>
    </div>
    <br/>
  </div>
</div>
<!--[disabled]="registerForm.invalid"-->
