<div class="card">
  <p-table #dt1 [value]="racas" selectionMode="single" [(selection)]="_specificRaca" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
           [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id_raca" style="width:10%">Cod. <p-sortIcon field="id_animal"></p-sortIcon></th>
        <th pSortableColumn="nome_raca" style="width:20%">Nome <p-sortIcon field="nome_animal"></p-sortIcon></th>
        <th pSortableColumn="id_tipo" style="width:20%">Tipo <p-sortIcon field="idade"></p-sortIcon></th>
        <th pSortableColumn="Ações" style="width:15%">Ações</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'id_raca', 'contains')" [value]="$any(dt1.filters['id_raca'])?.value" placeholder="Filtrar Cod." class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'nome_raca', 'contains')" [value]="$any(dt1.filters['nome_raca'])?.value" placeholder="Filtrar Nome" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'id_tipo', 'contains')" [value]="$any(dt1.filters['id_tipo'])?.value" placeholder="Filtrar tipo" class="w-full">
        </th>
        <th>
          <p-button label="Novo" icon="pi pi-plus" (click)="onAdd()" ></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-raca>
      <tr [pSelectableRow]="raca">
        <td>
          <span class="p-column-title">Cod.</span>
          {{raca.id}}
        </td>
        <td>
          <span class="p-column-title">Nome</span>
          {{raca.name}}
        </td>
        <td>
          <span class="p-column-title">Tipo</span>
          <span class="ml-1 vertical-align-middle">{{raca.type.name}}</span>
        </td>
        <td>
          <div>
            <button pButton pRipple label="Alterar " (click)='onEdit(raca.id)' class="p-button mr-2" icon="pi pi-pencil" style="margin: 2px 0;"></button>
            <button pButton pRipple label="Excluir" (click)='onDelete(raca.id)' class="p-button-danger mr-2" icon="pi pi-trash" style="margin: 2px 0;"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Não foram encontrados registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
